body {
  font-weight: 400;
  font-family: "ID Grotesk Trial", sans-serif !important;
}
h2,
h1
p {
  font-family: "ID Grotesk Trial", sans-serif !important;
}


/* Define slide-in animation from left */
.slide-in-left {
  animation: slideLeft 1s ease forwards;
}

/* Define slide-in animation from right */
.slide-in-right {
  animation: slideRight 1s ease forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Customize scrollbar */
body::-webkit-scrollbar {
  width: 10px; /* Set width for vertical scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color for scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background: #6a0e70; /* Color for scrollbar thumb */
  border-radius: 6px; /* Rounded corners */
}

body::-webkit-scrollbar-thumb:hover {
  background: #b42eb4; /* Darker color when hovering over the scrollbar */
}


.module {

  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom , #BBADFF, rgba(191, 97, 182, 0.4)) 1 100%;
 
}

.custom-scrollbar {
  
  scrollbar-width: thin; 
  scrollbar-color: #fff transparent;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 0px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}





.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  -webkit-animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
