@tailwind base;
@tailwind components;
@tailwind utilities;

/* a2d2ff */
.button {
  background-color: transparent;
  border: 2px solid #f3f3f3; 
  padding: 14px;
  margin: 5px;
  
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.button.clicked {
  
  border: 2px solid #ddd;
  text-decoration: line-through;
}


.button-correct {
  border-color: 2px solid white !important;
  text-decoration: none !important;
  background-color: lightgreen !important;

}

.placeholder {
  background-color: #f0f0f0;
  padding: 4px;
  border-radius: 4px;
}







  