@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}
img{
  object-fit: cover !important;
}


:root{
  --white : #ffffff;
  --dark-white: #e9ecef;
  --darkish-white: #dee2e6;
  --darkish-whites:#ced4da;
  --light-gray: #f8f9fa;
  --dark-whitess: #adb5bd;
  --dark-gray: #6c757d;
  ---darkish-gray: #495057;
  ---more-darkish-gray: #343a40;
  --darkish: #212529;
  --black: #000;

  
}


@keyframes showItem {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideItem {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.animate-showItem {
  animation: showItem 0.7s ease-in-out forwards;
}

.animate-hideItem {
  animation: hideItem 0.7s ease-in-out forwards;
}

